body {
  margin: 0;
  padding: 0;
  background-color: #272B30;
  /*color: #c8c8c8;*/
  color:#272B30;
}
#login-container {
  width: 340px;
  margin: 160px auto;
}
#login-container label {
  margin: 15px 0 5px 5px;
  font-weight: normal;
}

.width90 {
    width: 95%;
}

#login-container form {
  float:left;
}
#login-container button {
  width: 150px;
  padding: 6px 40px 6px 40px;
  float: left;
  margin-top: 15px;
}
#login-container .checkbox {
  margin: 23px 0 0 180px;
}
#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
  float: right;
  margin-right: 13px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
.well {
  margin-left: 0;
  border: 1px solid #ccc;
}
label {
  display:block;
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
button i {
  padding-left: 8px;
}

.navbar {
 background-color: #808080;
}