extends layout

block content
  div#fps
  div#gameId
  div#clientId
  canvas#terrainCanvas
  canvas#unitCanvas
  canvas#fogCanvas
  canvas#selectionCanvas

block scripts
  link(rel='stylesheet', href='/css/game.css')
  script(src='/vendor/jquery/jquery-2.1.0.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/game/terrainTile.js')
  script(src='/scripts/game/basegameentity.js')
  script(src='/scripts/game/unit.js')
  script(src='/scripts/game/units/knight.js')
  script(src='/scripts/game/units/orc.js')
  script(src='/scripts/game/state.js')
  script(src='/scripts/game/states/walkingstate.js')
  script(src='/scripts/game/states/waitingstate.js')
  script(src='/scripts/game/states/attackingstate.js')
  script(src='/scripts/game/units/mage.js')
  script(src='/scripts/game/game.js')
  script(src='/scripts/game/drawer.js')
  script(src='/scripts/game/utilities.js')
  script(src='/scripts/game/Pathing.js')
  script(src='/scripts/game/priorityQueue.js')
  script(src='/scripts/peer.js')
  script(src='/scripts/client.js')
  script.
    $(document).ready(function () {
      var id = '#{id.split('_').join('').split(' - ').join('')}';
      var enemyId = '#{enemyId.split('_').join('').split(' - ').join('')}';
      var host = #{host };
      var c = new Client(id, enemyId, host);
    });