<script src="/scripts/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/terrainTile.js"></script>
<script src="/scripts/basegameentity.js"></script>
<script src="/scripts/unit.js"></script>
<script src="/scripts/units/knight.js"></script>
<script src="/scripts/knight2.js"></script>
<script src="/scripts/state.js"></script>
<script src="/scripts/states/walkingstate.js"></script>
<script src="/scripts/states/waitingstate.js"></script>
<script src="/scripts/states/attackingstate.js"></script>
<script src="/scripts/units/mage.js"></script>
<script src="/scripts/game.js"></script>
<script src="/scripts/client.js"></script>
<script src="/scripts/quadtree.js"></script>
<script src="/scripts/drawer.js"></script>
<script src="/scripts/utilities.js"></script>
<script src="/scripts/Pathing.js"></script>
<script src="/scripts/priorityQueue.js"></script>
<html>
  <head>
  </head>
  <style>
  canvas {
    position: absolute;
    top: 25;
    left: 25;
  }
  </style>
  <body>

    <div id = "fps"></div>
    <div id = "gameId"></div>
    <div id = "clientId"></div>

    <canvas id="terrainCanvas"></canvas>
    <canvas id="unitCanvas"> </canvas>
    <canvas id="fogCanvas"></canvas>
    <canvas id="selectionCanvas"></canvas>
  </body>
  <script>
      //load some stuff we are going to need
      var t = new TerrainTile();
      t.getImage();
  </script>
</html>