extends layout

block content
  div#header.lobbyContainer
    h2.headerTitle Warcraft
    button.headerButton Sign out
    button.headerButton Settings
    button.headerButton Replays
    button.headerButton Single Player
  div#playerList.lobbyContainer
  div#chatContainer.lobbyContainer
    div#chatHistory.lobbyContainer
    div#chatInput.lobbyContainer
      textarea
      button#sendChat Send
         
block scripts
  script(src='/vendor/jquery/jquery-2.1.0.min.js')
  script(src='/scripts/lobby.js')
  link(rel='stylesheet', href='/css/lobby.css')
  script(src='/socket.io/socket.io.js')
  script
    $(document).ready(function() {start('#{udata}');});
