extends layout

block content
  div#fps
  div#gameId
  div#clientId
  center
    canvas#terrainCanvas
    canvas#unitCanvas
    canvas#fogCanvas
    canvas#selectionCanvas

block scripts
  link(rel='stylesheet', href='/css/game.css')
  script(src='/vendor/jquery/jquery-2.1.0.min.js')
  script(src='/scripts/game.js')
  script.
    $(document).ready(function () {
      var gameRunner = new LocalGameRunner();
    });