extends layout

block content
  div#fps
  div#gameId
  div#clientId
  center
    canvas#terrainCanvas
    canvas#unitCanvas
    canvas#fogCanvas
    canvas#selectionCanvas

block scripts
  link(rel='stylesheet', href='/css/game.css')
  script(src='/vendor/jquery/jquery-2.1.0.min.js')
  script(src='/scripts/game/terrainTile.js')
  script(src='/scripts/game/basegameentity.js')
  script(src='/scripts/game/unit.js')
  script(src='/scripts/game/units/knight.js')
  script(src='/scripts/game/units/orc.js')
  script(src='/scripts/game/state.js')
  script(src='/scripts/game/states/walkingstate.js')
  script(src='/scripts/game/states/waitingstate.js')
  script(src='/scripts/game/states/attackingstate.js')
  script(src='/scripts/game/states/pursuingstate.js')
  script(src='/scripts/game/units/mage.js')
  script(src='/scripts/game/game.js')
  script(src='/scripts/game/drawer.js')
  script(src='/scripts/game/Utilities.js')
  script(src='/scripts/game/Pathing.js')
  script(src='/scripts/game/priorityQueue.js')
  script(src='/scripts/game/coords.js')
  script(src='/scripts/game/selectionObject.js')
  script(src='/scripts/game/action.js')
  script(src='/scripts/gameRunners/ReplayGameRunner.js')
  script(src='/scripts/game/commands/ICommand.js')
  script(src='/scripts/game/commands/AttackCommand.js')
  script(src='/scripts/game/commands/WalkCommand.js')
  script(src='/scripts/game/commands/EngageCommand.js')
  script(src='/scripts/game/maps/IMap.js')
  script(src='/scripts/game/maps/Map1.js')
  script(src='/scripts/game/maps/StripesMap.js')

  script.
    $(document).ready(function () {
      var gameRunner = new ReplayGameRunner();
    });