.lobbyContainer {
  border: 1px solid #000;
}
#header {
  color: #fff;
  height: 10%;
}
#chatContainer {
  background-color: #fff;
  overflow: hidden;
  height: 90%;
}
#chatHistory {
  background-color: #ff0;
  height: 90%;
}
#chatInput {
  background-color: #008000;
  height: 10%;
}
#playerList {
  float: left;
  width: 20%;
  height: 90%;
  color: #fff;
}
.playerListItem {
  color: #fff;
  border: 1px solid #fff;
  margin: 2px 2px 2px 2px;
}
textarea {
  height: 100%;
  width: 90%;
}
button {
  float: right;
}
body,
html {
  border: 1px solid #000;
  height: 100%;
}
