.lobbyContainer {
  border: 1px solid #000;
}
#header {
  color: #fff;
  height: 10%;
}
#chatContainer {
  background-color: #fff;
  overflow: hidden;
  height: 90%;
}
#chatHistory {
  background-color: #fff;
  height: 90%;
  overflow: scroll;
}
#chatInput {
  background-color: #000;
  height: 10%;
}
#playerList {
  float: left;
  width: 20%;
  height: 90%;
  color: #fff;
}
#sendChat {
  width: 10%;
  height: 100%;
  float: right;
}
.currentPlayerListItem {
  color: #fff;
  border: 1px solid green;
  margin: 2px 2px 2px 2px;
}
.playerListItem {
  color: #fff;
  border: 1px solid #fff;
  margin: 2px 2px 2px 2px;
}
.headerButton {
  color: #000;
  display: inline;
  height: 100%;
  margin: 0em 0em 0em .5em;
  float: right;
  width: 7%;
}
.headerTitle {
  display: inline;
}
.dialog {
  z-index: 100;
  position: fixed;
  display: none;
  top: 30%;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 40%;
  box-shadow: 10px 10px 5px #888;
  background-color: #fff;
}
textarea {
  height: 100%;
  width: 90%;
}
body,
html {
  border: 1px solid #000;
  height: 100%;
}
